<div class="advanced-search">
  <fieldset>
  <h1>Advanced search</h1>
  <input type="checkbox">USA data</input>
  <input type="checkbox">non-USA data</input>
  <div class="time-selection">
    <p>Select time period:</p>
    <select name="search-months" id="search-months">
      <option value="Jan-June">Jan-June</option>
      <option value="July-Dec">July-Dec</option>
    </select>
    <select name="search-years" id="select-years">
      <option value="2015">2015</option>
      <option value="2014">2014</option>
      <option value="2013">2013</option>
      <option value="2012">2012</option>
    </select>
  </div>
  <h4><a>Legal processes</a></h4>
  <fieldset>
    <p>Go audemo C. Epotem untrum horei fac octus adhuctampl. Nihil vius auderis sinculicia audenis, porio etius es vatiam ium firmis consum di, cluderraecii perferita, ute rei serente dint? Ebatus aves es hoc restrum duconequit.</p>
    <input type="checkbox">All request types</input>
    <input type="checkbox">Search warrants</input>
    <input type="checkbox">Wiretap orders</input>
    <input type="checkbox">Pen register orders</input>
    <input type="checkbox">Other court orders</input>
    <input type="checkbox">Criminal subpoenas</input>
    <input type="checkbox">Civil subpoenas</input>
    <input type="checkbox">Emergency requests</input>
    <hr>
    <input type="checkbox">Total selectors specified by all the above requests</input>
  </fieldset>
</fieldset>
</div>