<div class="intro-cta">
  <input type="text" name="company" placeholder="Company name">
  </input>
  <p class="small">Link to explore all data</p>
  <div class="split-box-2">
    <button>Explore report</button>
    <p>Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor
incididunt ut labore et dolore
magna.</p>
  </div>
  <div class="split-box-2">
    <button>Submit report</button>
    <p>Go audemo C. Epotem untrum
horei fac octus adhuctampl.
Nihil vius auderis sinculicia
audenis, porio etius es vatiam
ium firmis.</p>
  </div>
</div>