<?php
  session_start();
  {{#if index}}
    include 'scripts/submit-{{subtract index 1}}.php';
  {{else}}
    $_SESSION['company'] = $_POST;
    $company = $_SESSION['company'];
  {{/if}}
?>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Transparency Reporting Toolkit</title>
  <link rel="stylesheet" href="./styles/main.css" />
  {{#if additionalScript}}
    <script src='{{this.additionalScript}}' async defer></script>
    <meta name="google-signin-client_id" content="{{clientID}}.apps.googleusercontent.com">
  {{/if}}
</head>
<body>