<?php
  session_start();
  {{#if auth}}
    include 'scripts/auth.php';
  {{/if}}
  {{#if first}}
    include 'scripts/submit-0.php';
  {{/if}}
  {{#if needsAuth}}
    include 'scripts/gatekeeper.php';
  {{/if}}
  {{#if index}}
    include 'scripts/submit-{{subtract index 1}}.php';
  {{/if}}
  {{#if explore}}
    include 'scripts/explore-request.php';
  {{/if}}
?>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Transparency Reporting Toolkit</title>
  <link rel="stylesheet" href="./styles/main.css" />
  <script src='https://apis.google.com/js/platform.js' async defer></script>
  <meta name="google-signin-client_id" content="866567614664-plajrfu1bkmapbop03i30nh9vdmmdqe3.apps.googleusercontent.com">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  {{#if explore}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  {{/if}}
</head>
<body>