<div class="intro-search">
  <p>Show me
  <select name="search-gov-countries" id="search-govs">
    <option value="USA government" selected>USA government</option>
    <option value="non-USA government">non-USA government</option>
  </select>
  requests to
  <select name="search-company-names" id="search-companies">
    <option value="all companies" selected>all companies</option>
  </select>
  for
  <select name="search-filter" id="search-filter">
    <option value="all" selected>all</option>
    <option value="rejected">all rejected</option>
    <option value="no data">all "no data" response</option>
    <option value="content disclosed">all content disclosed</option>
    <option value="non-content disclosed">all non-content disclosed</option>
  </select>
  <select name="search-types" id="search-types">
    <optgroup label="legal processes">
      <option value="legal processes" selected>legal processes</option>
      <option value="search warrants">search warrants</option>
      <option value="wiretap orders">wiretap orders</option>
      <option value="pen register orders">pen register orders</option>
      <option value="other court orders">other court orders</option>
      <option value="criminal subpoenas">criminal subpoenas</option>
      <option value="civil subpoenas">civil subpoenas</option>
      <option value="emergency requests">emergency requests</option>
    </optgroup>
    <optgroup label="accounts and selectors">
      <option value="accounts responsive">accounts responsive to all of the above requests</option>
      <option value="selectors specified">selectors specified by all of the above requests</option>
    </optgroup>
    <optgroup label="user notifications">
      <option value="sealed requests">sealed requests</option>
      <option value="non-sealed requests - notice">non-sealed requests, notice provided</option>
      <option value="non-sealed requests">non-sealed requests, notice not provided</option>
    </optgroup>
  </select>
</div>