<div class="nav-background">
  <div class="container nav">
    <ul class="inline-list">
      <li><a href="./">Transparency Reporting Toolkit</a></li>
      <li>Explore reports</li>
      <li>Submit report</li>
      <!-- <li>About team</li>
      <li>About Transparency Reports</li>
      <li>Dashboard</li> -->
    </ul>
  </div>
</div>