<div class="nav-background">
  <div class="container nav">
    <ul class="inline-list">
      <li><a href="./">Transparency Reporting Toolkit</a></li>
      <li><a href="./explore.php">Explore reports</a></li>
      <li><a href="./submit-report-0.php">Submit report</a></li>
      <!-- <li>About team</li>
      <li>About Transparency Reports</li>
      <li>Dashboard</li> -->
    </ul>
  </div>
</div>