<div class="nav-background">
  <div class="container nav">
    <ul class="inline-list">
      <li><a href="./">Transparency Reporting Toolkit</a></li>
      <li><a href="./explore.php">Explore reports</a></li>
      <li><a id="submit-link" href="./submit-report-0.php">Submit report</a></li>
      <li><a id="about" href="about.php">About us</a></li>
      <li><a id="intro" href="intro.php">Transparency reports</a></li>
      <!-- <li>Dashboard</li> -->
    </ul>
  </div>
</div>