<div class="progress-buttons">
  <a href="submit-report-{{subtract index 1}}.html" class="progression {{#if first}}disabled{{/if}}">< Back</a>
  <a class="progression" href="#">Save</a>
  <a class="progression" href="submit-report-{{add index 1}}.html">Next ></a>
</div>