<div class="progress-bar">
  <span style="width:{{progress}}%"></span>
</div>
<div class="progress-buttons">
  <a href="submit-report-{{subtract index 2}}.php" class="progression {{#if first}}disabled{{/if}}">< Back</a>
  <a class="progression" href="#">Save</a>
  <a class="progression" {{#if isEnd}} href="#" {{else}} href="submit-report-{{index}}.php"{{/if}}>Next ></a>
</div>