<div class="time-selection">
  <p>Select time period:</p>
  <div class="time-options small">
    <p>Jan-June</p><p>July-Dec</p>
    <p>2016</p><p>2015</p><p>2014</p><p>2013</p><p>Other (click to edit)</p>
  </div>
</div>