<div class="types-intro-usa">
  <h2>Types of legal processes received</h2>
  <p>Go audemo C. Epotem untrum horei fac octus adhuctampl. Nihil vius auderis
sinculicia audenis, porio etius es vatiam ium firmis consum di, cluderraecii
perferita, ute rei serente dint? Ebatus aves es hoc restrum duconequit.</p>
  <table>
    <tbody>
      <tr>
        <th rowspan="2"></th>
        <th rowspan="2">Search warrants</th>
        <th rowspan="2">Wiretap orders</th>
        <th rowspan="2">Pen register orders</th>
        <th colspan="2">Subpoenas</th>
        <th>Emergency Requests</th>
        <th>Total</th>
      </tr>
      <tr>
        <th>Criminal</th>
        <th>Civil</th>
      </tr>
    </tbody>
  </table>
</div>
