.intro-area {
  font-size:1.5em;
  text-align: center;
}

.split-box-2 {
  width:50%;
  float:left;
  box-sizing: border-box;
  padding:10px;
  button {
    margin:0 auto;
    display:block;
  }
}

.intro-cta {
  overflow: auto;
  .small {
    text-align: center;
  }
}

input[name="company"] {
  width:50%;
  border-radius: 10px;
  box-shadow: none;
  border:solid thin lightgrey;
  padding:10px;
  margin:0 auto;
  display:block;
}