$primary: grey;
$secondary: lightgrey;
$light-text: #fff;

@mixin low-contrast {
  background-color: $secondary;
  color: $light-text;
}
@mixin high-contrast {
  background-color: $primary;
  color: $light-text;
}

@mixin button {
  border:solid thin $secondary;
  border-radius: 15px;
  padding:10px;
  text-decoration: none;
  max-width: 120px;
  text-align: center;
  @include high-contrast;
}