.time-selection {
  p {
    display:inline;
  }
}
.time-options {
  display:inline;
  p {
    @include button;
    margin:0 5px;
  }
}

table {
  border-collapse:collapse;
  white-space: normal;
  width:100%;
  tr:first-child th:first-child{
    border:0;
    background-color:transparent;
  }
  th {
    border:thin solid lightgrey;
    margin:0;
    background-color:lightgrey;
    font-weight:normal;
    padding:0.1em 1em;
  }
  td {
    border:thin solid lightgrey;
    max-width:100px;
    padding:0 0.5em;
  }
  input {
    border:0;
    width:100%;
    padding:1em;
  }
}

.double-table {
  margin-top:1em;
  overflow:auto;
  table {
    width:49%;
    float:left;
    &:last-child {
      float:right;
    }
    td:first-child {
      background-color:lightgrey;
      width:60%;
    }
  }
}
