.time-selection {
  @include section-margins;
  p {
    display:inline;
  }
}
.time-options {
  display:inline;
  p {
    @include button;
    margin:0 5px;
    display:inline-block;
  }
}

.section-title {
  @include section-margins;
}

table {
  border-collapse:collapse;
  width:100%;
  @include section-margins;
  tr:first-child th:first-child{
    border:0;
    background-color:transparent;
  }
  th {
    border:thin solid $secondary;
    background-color:$secondary;
    font-weight:normal;
  }
  td {
    border:thin solid $secondary;
    width:10vw;
    padding:0.25em;
  }
  input {
    border:0;
    width:100%;
    &:focus {
      outline:thin solid $secondary;
    }
  }
}

.double-table {
  @include section-margins;
  overflow:auto;
  table {
    width:49%;
    float:left;
    input {
      width:100%;
    }
    &:last-child {
      float:right;
    }
    td:first-child {
      background-color:$secondary;
      width:70%;
    }
  }
}
