.small {
  font-size: 0.75em;
}

h1 {
  font-size:1em;
}

.label {
  font-size:0.5em;
  padding:0.25em;
  margin-left:0.5em;
  vertical-align:middle;
  @include high-contrast;
}

a {
  text-decoration: none;
  &:visited {
    color:#fff;
  }
}

.progression:hover {
  @include low-contrast;
}

.disabled {
  background-color:$secondary;
  pointer-events: none;
  cursor: default;
  opacity:0.5;
}
