---
index: 11
progress: 84.7
title: "Types of legal processes received"
isUSA: false
prefix: non-usa-types
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
{{>types}}
{{>progress-buttons}}