---
first: true
currentPage: submit
index: 1
progress: 7.7
title: "Types of legal processes received"
isUSA: true
prefix: usa-types
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
<form name="submitSection{{subtract index 1}}" method="post">
  <div class="time-selection">
    <p>Select time period:</p>
    <div class="time-options small">
      <p class="months"><span>Jan-June</span><span>July-Dec</span></p>
      <p class="years"><span>2016</span><span>2015</span><span>2014</span><span>2013</span><span>Other (click to edit)</span></p>
    </div>
  </div>
{{>submit-intro}}
{{>types}}
{{>progress-buttons}}
</form>