---
currentPage: submit
index: 6
progress: 46.2
title: "Outcomes/compliance with requests"
subtitle: "Criminal subpoenas"
isUSA: true
prefix: criminal
needsAuth: true
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
<form name="submitSection{{subtract index 1}}" method="post" action="submit-report-{{index}}.php">
{{>outcomes}}
{{>progress-buttons}}
</form>