---
currentPage: submit
index: 7
progress: 53.9
title: "Outcomes/compliance with requests"
subtitle: "Civil subpoenas"
isUSA: true
prefix: civil
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
{{>outcomes}}
{{>progress-buttons}}