---
currentPage: submit
index: 12
progress: 92.4
title: "Outcomes/compliance with requests"
isUSA: false
prefix: non-usa-outcomes
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
{{>outcomes}}
{{>progress-buttons}}