---
first: false
index: 6
progress: 46.2
title: "Outcomes/compliance with requests"
subtitle: "Criminal subpoenas"
isUSA: true
prefix: criminal
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
{{>outcomes}}
{{>progress-buttons}}