---
first: true
index: 1
progress: 7.7
title: "Types of legal processes received"
isUSA: true
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>time-selection}}
{{>submit-intro}}
{{>types-table-usa}}
{{>progress-buttons}}