---
index: 3
progress: 23.1
title: "Outcomes/compliance with requests"
subtitle: "Wiretap orders"
isUSA: true
prefix: wiretap
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
{{>outcomes}}
{{>progress-buttons}}