---
first: true
index: 1
progress: 7.7
title: "Types of legal processes received"
isUSA: true
prefix: usa-types
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
  <div class="time-selection">
    <p>Select time period:</p>
    <div class="time-options small">
      <p>Jan-June</p><p>July-Dec</p>
      <p>2016</p><p>2015</p><p>2014</p><p>2013</p><p>Other (click to edit)</p>
    </div>
  </div>
{{>submit-intro}}
{{>types}}
{{>progress-buttons}}