---
currentPage: submit
index: 3
progress: 23.1
title: "Outcomes/compliance with requests"
subtitle: "Wiretap orders"
isUSA: true
prefix: wiretap
needsAuth: true
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
<form name="submitSection{{subtract index 1}}" method="post" action="submit-report-{{index}}.php">
{{>outcomes}}
{{>progress-buttons}}
</form>