---
currentPage: submit
index: 11
progress: 84.7
title: "Types of legal processes received"
isUSA: false
prefix: non-usa-types
needsAuth: true
---
<h1>Submit <span class="company-name"><span> transparency report</h1>
{{>submit-intro}}
<form name="submitSection{{subtract index 1}}" method="post" action="submit-report-{{index}}.php">
{{>types}}
{{>progress-buttons}}
</form>